{namespace neos=TYPO3\Neos\ViewHelpers}
<f:security.ifAccess resource="TYPO3_Neos_Backend_BackendController">
	<f:then>
		<neos:contentElement node="{node}">
			<f:if condition="{channel}">
				<f:then>
					<li><a href="javascript:void(0)"><img src="{f:uri.resource(package:'Lelesys.Plugin.SocialBookmarks', path:'Icons/{channel}')}"></a></li>
				</f:then>
			</f:if>
		</neos:contentElement>
	</f:then>
	<f:else>
		<f:switch expression="{channel}">
			<li>
				<f:case value="social-facebook-box-blue-icon.png">
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={currentUri}"><img src="{f:uri.resource(package:'Lelesys.Plugin.SocialBookmarks', path:'Icons/{channel}')}"></a>
				</f:case>
				<f:case value="social-twitter-box-blue-icon.png">
					<a href="https://twitter.com/share" target="_blank"><img src="{f:uri.resource(package:'Lelesys.Plugin.SocialBookmarks', path:'Icons/{channel}')}"></a>
				</f:case>
				<f:case value="social-linkedin-box-blue-icon.png">
					<a href="http://www.linkedin.com/shareArticle?mini=false&url={currentUri}" target="_blank"><img src="{f:uri.resource(package:'Lelesys.Plugin.SocialBookmarks', path:'Icons/{channel}')}"></a>
				</f:case>
				<f:case value="Google-plus-icon.png">
					<a href="https://plus.google.com/share?url={currentUri}" target="_blank"><img src="{f:uri.resource(package:'Lelesys.Plugin.SocialBookmarks', path:'Icons/{channel}')}"></a>
				</f:case>
				<f:case value="social-digg-box-white-icon.png">
					<a href="http://digg.com/submit?&url={currentUri}" target="_blank"><img src="{f:uri.resource(package:'Lelesys.Plugin.SocialBookmarks', path:'Icons/{channel}')}"></a>
				</f:case>
			</li>
		</f:switch>
	</f:else>
</f:security.ifAccess>